html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: Bevan, serif;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  margin: .3em 0 0;
  text-align: center;
}

body {
  background-color: #dbd6cf;
  margin: 0;
}

header {
  background-color: #79756f;
  border-color: #595652;
  border-width: 3px 0;
  border-style: solid;
}

.nav {
  margin: 0 0 11px;
  padding: 0 8px;
  text-align: center;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  background-color: #713837;
  font-family: sans-serif;
  font-style: normal;
  border-radius: 4px;
  padding: .6em .5em .75em;
  margin: 0 0 4px;
  height: 40px;
}

.nav li:hover {
  background-color: #f33;
  color: #fff;
}

.nav a:hover {
  background-color: #f33;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.nav a {
  list-style-type: none;
  font-family: sans-serif;
  font-style: normal;
  margin: 0 4px;
  border-radius: 4px;
}
